@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

li,
a {
    font-weight: 600px;
    font-size: 16px;
    color: #121212;
    text-decoration: none;
}


/* opening of img container */

.about-img-container {
    max-width: 90%;
    position: relative;
    margin: auto;
    margin-top: 4em;
    text-align: center;
}

.img-heading {
    font-size: 3em;
    font-weight: 600;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    justify-content: center;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.about-img {
    height: 100%;
    width: 100%;
    border-radius: 40px;
    filter: brightness(0.8);
}


/* closing of img-container */


/* opening of vision */

.about-section {
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-section-heading {
    font-size: 2.5em;
    font-weight: 600;
    justify-content: center !important;
    align-items: center !important;
    margin-bottom: 0px;
}

.about-section-body {
    font-size: 1em;
    font-weight: 400;
    color: #666666;
    margin-top: 1em;
    max-width: 80%;
    text-align: center;
}


/* closing of vision */


/* opening of img-container-2 */

.about-img-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5em;
}

.img-container-2-item1 {
    width: 20em;
    height: 20em;
    aspect-ratio: 0.56 !important;
    background-image: url("/Images/about/office1.png");
    border-radius: 30px;
    background-size: cover;
    margin-bottom: 5em;
}

.img-container-2-item2 {
    width: 20em;
    height: 20em;
    aspect-ratio: 0.67 !important;
    background-image: url("/Images/about/office2.png");
    border-radius: 30px;
    background-size: cover;
}


/* closing of img-container-2 */


/* opening of achievements */

.achievements-section {
    display: flex;
    justify-content: center;
    gap: 160px;
    align-items: center;
    height: 220px;
    margin-top: auto;
    margin-top: 80px;
}

.achievements-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.achievements-info {
    font-size: 56px;
    font-weight: 600;
}

.achievements-name {
    font-size: 24px;
    color: #666666;
}

.sectionClass {
    position: relative;
    display: block;
    width: 100%;
}

.fullWidth {
    width: 100% !important;
    display: table;
    float: none;
    padding: 0;
    min-height: 1px;
    height: 100%;
    position: relative;
}

.projectFactsWrap {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    flex-wrap: wrap;
}

#projectFacts .fullWidth {
    padding: 0;
}

.projectFactsWrap .item {
    width: 25%;
    height: 100%;
    padding: 50px 0px;
    text-align: center;
}

.projectFactsWrap .item:nth-child(1) {
    background: #ffffff;
}

.projectFactsWrap .item:nth-child(2) {
    background: #ffffff;
}

.projectFactsWrap .item:nth-child(3) {
    background: #ffffff;
}

.projectFactsWrap .item:nth-child(4) {
    background: #ffffff;
}

.projectFactsWrap .item p.number {
    font-size: 40px;
    padding: 0;
    font-weight: bold;
}

.projectFactsWrap .item p {
    color: #121212;
    font-size: 18px;
    margin: 0;
    padding: 10px;
    font-family: Poppins, sans-serif;
}

.projectFactsWrap .item span {
    width: 60px;
    background: #121212;
    height: 2px;
    margin: 0 auto;
    display: none;
}

.projectFactsWrap .item i {
    vertical-align: middle;
    font-size: 50px;
    color: #121212;
}

.projectFactsWrap .item:hover i,
.projectFactsWrap .item:hover p {
    color: #000000
}

.projectFactsWrap .item:hover span {
    background: #000000;
}

@media (max-width: 786px) {
    .projectFactsWrap .item {
        flex: 0 0 50%;
    }
}


/* closing of achievements */


/* opening of team */

.team-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5em;
    gap: 4em;
}

.team-heading {
    font-size: 40px;
    font-weight: 600;
}

.team-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5em;
}

.team-member-image {
    height: 240px;
    width: 180px;
    border-radius: 20px;
    margin-bottom: 12px;
}

.team-member-name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 4px;
    text-align: center;
}

.team-member-designation {
    font-size: 16px;
    color: #666666;
    text-align: center;
}

@media (max-width:576px) {
    .about-img-container {
        max-width: 100%;
        margin-top: 1em;
    }
    .img-heading {
        font-size: 24px !important;
    }
    .about-section-heading {
        font-size: 2.2em;
        text-align: center;
    }
    .team-heading {
        font-size: 2.2em;
    }
    .team-container>div {
        row-gap: 32px;
    }
}