@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

body {
  height: 3000px;
}

li,
a {
  font-weight: 600px;
  font-size: 16px;
  color: #121212;
  text-decoration: none;
}

/* opening of Navbar */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 8%;
}

.nav-area {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-area li {
  font-weight: 600;
}

.logo {
  cursor: pointer;
  font-size: 28px;
  transition: all 0.3s ease 0s;
}

.logo:hover {
  color: #1994ed;
  cursor: pointer;
  font-size: 28px;
  transition: all 0.3s ease 0s;
}

.nav-area li a {
  transition: all 0.3s ease 0s;
}

.nav-area li a:hover {
  color: #1994ed;
}

.nav-cta {
  background-color: #1d85ff;
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;
  border: none;
}

.nav-cta:hover {
  background-color: #005695;
  transition: all 0.3s ease 0s;
}

/* Closing of Navbar */

.heading-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.section-heading {
  display: flex;
  justify-content: center;
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 80px;
}

.input-container-heading {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 24px;
}

.project-type-selector-options {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.svcs1 {
  display: flex;
  border-radius: 40px;
  padding: 16px 24px;
  width: auto;
  align-items: center;
  background-color: #ffffff;
  border-color: #c2c2c2;
  border: 1px solid;
  color: #121212;
  border-color: #c2c2c2;
  justify-content: center;
  cursor: pointer;
  box-shadow: 10px 10px 80px rgb(0, 0, 0, 0.1);
}

.svcs1-txt {
  font-size: 18px;
  font-weight: 500;
}

.inputs {
  display: flex;
  flex-direction: column;
}
.input-field {
  border: none;
  border-bottom: 2px solid #c2c2c2;
  padding-bottom: 16px;
  font-size: 16px;
  outline: none;
}

.text-field {
  width: 800px;
  word-break: break-word;
}
.inputs-container {
  row-gap: 64px;
}
