@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

body {
  height: 3000px;
}

li,
a {
  font-weight: 600px;
  font-size: 16px;
  color: #121212;
  text-decoration: none;
}

/* opening of Navbar */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.nav-area {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-area li {
  font-weight: 600;
}

.logo {
  cursor: pointer;
  font-size: 28px;
  transition: all 0.3s ease 0s;
}

.logo:hover {
  color: #1994ed;
  cursor: pointer;
  font-size: 28px;
  transition: all 0.3s ease 0s;
}

.nav-area li a {
  transition: all 0.3s ease 0s;
}

.nav-area li a:hover {
  color: #1994ed;
}

.nav-cta {
  background-color: #1d85ff;
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;
  border: none;
}

.nav-cta:hover {
  background-color: #005695;
  transition: all 0.3s ease 0s;
}

/* Closing of Navbar */

/* opening of Section 1 */

.head-intro {
  margin-top: 56px;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.heading {
  margin-top: 12px;
  font-size: 48px;
  font-weight: 600;
  width: 400px;
  text-align: center;
}

/* closing of Section 1 */

/* opening of video container */
.video-container {
  max-width: 1000px;
  background-attachment: fixed;
  margin-top: 80px;
  background-size: cover;
  margin-inline: auto;
}

/* closing of video container */

/* opening of what we do */

.whatwedo {
  display: flex;
  flex-direction: row;
  gap: 180px;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}
.whatwedo-heading {
  font-size: 40px;
  font-weight: 600;
  width: 132px;
}

.whatwedo-body {
  font-size: 20px;
  color: #666666;
  width: 620px;
}
/* closing of what we do */

/* opening of service briefs */

.service-briefs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
  flex-direction: column;
  gap: 120px;
}

.service-briefs-heading {
  width: 440px;
  font-size: 44px;
  font-weight: 600;
  text-align: center;
}

.service-briefs-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 120px;
}

.service-item-image {
  width: 524px;
  height: 326px;
  border-radius: 20px;
}

.service-item-textgrp {
  justify-content: center;
}

.service-item-heading {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 16px;
}

.service-item-body {
  font-size: 18px;
  color: #868686;
  width: 440px;
}

.service-item-cta {
  border: 1px solid #a4a4a4;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  border-color: #c2c2c2;
  margin-top: 24px;
}

/* closing of service briefs */

/* opening of working benefits */

.working-benefits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 220px;
}

.working-benefits-heading {
  width: 440px;
  font-size: 44px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 128px;
}

.working-benefits-itemgroup {
  display: grid;
  grid-template-columns: repeat(2, 460px);
  justify-content: center;
  gap: 120px;
}

/* .working-benefits-item {
} */

.working-benefits-item-heading {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 16px;
  letter-spacing: 2px;
  margin-top: 32px;
}

.working-benefits-item-body {
  font-size: 16px;
  color: #868686;
  width: 440px;
}

/* closing of working benefits */

/* opening of get in touch */
.getintouch {
  margin-top: 160px;
  width: 1224px;
  height: 420px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  gap: 160px;
}

.getintouch-body {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.getintouch-hireus {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.2em;
}

.getintouch-heading {
  font-size: 44px;
  font-weight: 600;
  width: 568px;
  margin-bottom: 32px;
}

.getintouch-cta {
  display: flex;
  border: none;
  padding: 16px 28px;
  border-radius: 20px;
  background-color: #121212;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  width: fit-content;
  align-items: left;
  justify-content: center;
}

.getintouch-img {
  background-image: url("/Images/getintouch.png");
  background-size: cover;
  width: 360px;
  height: 360px;
}

/* closing of get in touch*/

/* opening of footer */

.footer {
  margin-top: 160px;
  height: 360px;
}
.footer-columns-all {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 140px;
  align-items: flex-start;
  margin-left: 12em;
  margin-right: 12em;
}
.footer-flint-info {
  display: flex;
  flex-direction: column;
  width: 248px;
}
.footer-logo {
  font-size: 32px;
  font-weight: 700;
}

.footer-info-group-all {
  display: flex;
  flex-direction: column;
  width: 243px;
  gap: 20px;
  margin-top: 32px;
}
.footer-info-group {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-info-group-icon {
  height: 24px;
  width: 24px;
}

.footer-info-group-text {
  font-size: 16px;
  color: #666666;
}

.footer-column-title {
  font-size: 18px;
  font-weight: 600;
}

.footer-column-items-all {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}
.footer-column-items {
  font-size: 16px;
  color: #666666;
}

/* closing of footer */
