@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

body {
  height: 3000px;
}

li,
a {
  font-weight: 600px;
  font-size: 16px;
  color: #121212;
  text-decoration: none;
}

/* opening of Navbar */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.nav-area {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-area li {
  font-weight: 600;
}

.logo {
  cursor: pointer;
  font-size: 28px;
  transition: all 0.3s ease 0s;
}

.logo:hover {
  color: #1994ed;
  cursor: pointer;
  font-size: 28px;
  transition: all 0.3s ease 0s;
}

.nav-area li a {
  transition: all 0.3s ease 0s;
}

.nav-area li a:hover {
  color: #1994ed;
}

.nav-cta {
  background-color: #1994ed;
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;
  border: none;
}

.nav-cta:hover {
  background-color: #005695;
  transition: all 0.3s ease 0s;
}

/* Closing of Navbar */

/* opening of Section 1 */

.head-intro {
  margin-top: 100px;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.heading {
  margin-top: 12px;
  font-size: 48px;
  font-weight: 600;
  width: 400px;
  text-align: center;
}

/* closing of Section 1 */

/* opening of video container */
.video-container {
  width: 100%;
  height: 560px;
  background-attachment: fixed;
  margin-top: 180px;
  background-size: cover;
}

/* closing of video container */

/* opening of what we do */

.whatwedo {
  display: flex;
  flex-direction: row;
  gap: 180px;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}
.whatwedo-heading {
  font-size: 40px;
  font-weight: 600;
  width: 132px;
}

.whatwedo-body {
  font-size: 20px;
  color: #666666;
  width: 620px;
}
/* closing of what we do */

/* opening of service briefs */

.service-briefs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
  flex-direction: column;
  gap: 120px;
}

.service-briefs-heading {
  width: 440px;
  font-size: 44px;
  font-weight: 600;
  text-align: center;
}

.service-briefs-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 120px;
}

.service-item-image {
  width: 524px;
  height: 326px;
  border-radius: 20px;
}

.service-item-textgrp {
  justify-content: center;
}

.service-item-heading {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 16px;
}

.service-item-body {
  font-size: 18px;
  color: #868686;
  width: 440px;
}

.service-item-cta {
  border: 1px solid #a4a4a4;
  padding: 12px 24px;
  border-radius: 20px;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  border-color: #c2c2c2;
  margin-top: 24px;
}

/* closing of service briefs */

/* opening of working benefits */

.working-benefits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 220px;
}

.working-benefits-heading {
  width: 440px;
  font-size: 44px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 128px;
}

.working-benefits-itemgroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 120px;
  justify-content: center;
  align-items: center;
}

.working-benefits-item {
  width: 460px;
}

.working-benefits-item-heading {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 16px;
  letter-spacing: 2px;
  margin-top: 32px;
}

.working-benefits-item-body {
  font-size: 16px;
  color: #868686;
  width: 440px;
}
