.menu{
    height: 6em;
    /* stroke: rgba(31, 135, 255,0.5) !important; */
    line-height: 0.5em;
    /* padding: 2em !important; */
    margin: 3em 1em !important;
    justify-content: center !important;
    align-content: center !important;
    border-radius: 20px;
    max-width: 90%;
    display: flex;
}
.btn{
    font-size: 1em !important;
    border-radius: 15px !important;
    color: white !important;
    text-align: center;
    padding: 0.5em 1em !important;
    /* margin: 1em !important; */
}
.col{
    display: block;
    justify-content: center;}
.prod{
    /* margin-top: 3em; */
    display: flex;
    flex-direction: row;
    overflow: hidden;

}
.show-cart li {
    display: flex;
  }
  .card {
    width: 30em !important;
    overflow: hidden;
    justify-content:center !important;
    border-radius: 20px !important;
    margin:1em 1em !important;
  }
  .card-img-top {
    width: 30em !important;
    height: auto !important;
    align-self: center;
  }
  @media screen and (min-width:500px) {
    .card{
        width:17em !important;
    }
  }
  .card-ele{
    justify-content: center;
    display: flex;
  }
  .modal-content{
    max-width:100%
  }